<!DOCTYPE html>
<html lang="en" ng-app="serialNumber">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Serial Numbers</title>

        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/freelancer.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
        <script src="js/app.js"></script>

    </head>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#page-top">Generate Serial Numbers</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#generate">Generate</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">About</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Form Section -->
        <section id="portfolio" style="margin-top:10px;">
            <div class="container" ng-controller="AppController">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Input</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <form novalidate>
                        <div class="form-group">
                            <label for="versionNumber">Version Number</label>
                            <input type="text" class="form-control" id="versionNumber" name="versionNumber" placeholder="Ex: 0300, 1AB00" ng-model="versionNumber" required>
                            <span style="color:red" ng-show="versionNumberReq">
                                This is required!
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="startAt">Start At</label>
                            <input type="number" class="form-control" id="startAt" name="startAt" placeholder="Ex: 1, 20" ng-model="startAt" required/>
                            <span style="color:red" ng-show="startAtReq">
                                This is required/Not a number!
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="snoWidth">Width</label>
                            <input type="number" class="form-control" id="snoWidth" name="snoWidth" placeholder="Ex: 5, 6" ng-model="snoWidth" required/>
                            <span style="color:red" ng-show="snoWidthReq">
                                This is required/Not a number!
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="padWith">Pad With</label>
                            <input type="number" class="form-control" id="padWith" name="padWith" placeholder="Ex: 5, 6" ng-model="padWith" required/>
                            <span style="color:red" ng-show="padWithReq">
                                This is required/Not a number!
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="total">Total</label>
                            <input type="number" class="form-control" id="total" name="total" placeholder="Ex: 10, 6" ng-model="total" required/>
                            <span style="color:red" ng-show="totalReq">
                                This is required/Not a number!
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="checksum">Checksum</label>
                            <select class="form-control" id="checksum"><option value="true">true</option><option value="false">false</option></select>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="generate()">Generate</button>
                        <hr class="star-primary">
                        <div ng-show="displayGenerated" class="ng-hide">
                            <div class="row">
                                <a href="#" class="btn btn-default pull-right" style="margin: 10px 10px 10px 10px;" ng-click="printPage()">Printable Page</a>
                            </div>
                            <div id="tableSerial">
                                <table class="table table-bordered">
                                    <tr><th>Generated Numbers</th></tr>
                                    <tr ng-repeat="val in finalResult">
                                        <td>{{val}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-6">
                            <h3>Maintained By</h3>
                            <p><a href="mailto:operations@eztap.com">Eztap Operations</a></p>
                        </div>
                        <div class="footer-col col-md-6">
                            <h3>Support</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Your Website 2015
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll visible-xs visible-sm">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/cbpAnimatedHeader.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/freelancer.js"></script>

    </body>

</html>
